OPEN_AI_SECRET=##
OPENAI_ORAGANIZATION_ID=org-Nb0xJttdrHY4C3370n7mVVOV
MONGODB_URL=mongodb+srv://durganaveen:test1234@cluster0.8nibi9x.mongodb.net/chatbot?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=bwlvjbasvbsuveusve7wfgy9w
COOKIE_SECRET=fhwofhwoufhwfw9ofhwvowihwov
PORT=5001



